<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
        	Productos vendidos 2016
            <canvas id="pie" class="chart chart-pie"
				  chart-data="pv2016data" chart-labels="pv2016labels" chart-options="options">
			</canvas>
        </div>
        <div class="col-md-6">
        	Ventas mensuales 2016
			<canvas id="bar" class="chart chart-bar"
  				  chart-data="vm2016data" chart-labels="vm2016labels"> chart-series="series"
			</canvas
        </div>
        	
    </div>
</div>



 